/*
removing defaults set by browser
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
  /* background-color:#222222; */
}

a:link {
  text-decoration: none;
}

.wrapper {
  padding: 10%;
	width: 68em;
}

* {
	box-sizing: border-box;
}

body {
	color: #777;
	font-family: 'Open Sans', Arial, sans-serif;
}

.product-grid {
	width: 60em;
	margin: 2rem auto;
}

.product-grid.product-grid--flexbox .product-grid__wrapper {
	display: flex;
	flex-wrap: wrap;
}

.product-grid.product-grid--flexbox .product-grid__title {
	height: auto;
}

.product-grid.product-grid--flexbox .product-grid__title:after {
	display: none;
}

.product-grid__wrapper {
	margin-left: -1rem;
	margin-right: -1rem;
}

.product-grid__product-wrapper {
	padding: 1rem;
	float: left;
	width: 33.33333%;
}

.product-grid__product {
	padding: 1rem;
	position: relative;
	cursor: pointer;
	background: #fff;
	border-radius: 4px;
}

.product-grid__product:hover {
	box-shadow: 0px 0px 0px 1px #eee;
	z-index: 50;
}

.product-grid__product:hover .product-grid__extend {
	display: block;
}

.product-grid__img-wrapper {
	width: 100%;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	height: 150px;
}

.product-grid__img {
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

.product-grid__title {
	margin-top: .875rem;
	display: block;
	font-size: 1.125em;
	color: #222;
	height: 3em;
	overflow: hidden;
	position: relative;
}

.product-grid__title:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 2.4em;
	height: 1.5em;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%);
}

.product-grid__price {
	color: #E91E63;
	font-weight: bold;
	letter-spacing: .4px;
}

.product-grid__extend-wrapper {
	position: relative;
}

.product-grid__extend {
	display: none;
	position: absolute;
	padding: 0 1rem 1rem 1rem;
	margin: .4375rem -1rem 0;
	box-shadow: 0px 0px 0px 1px #eee;
	background: #fff;
	border-radius: 0 0 4px 4px;
}

.product-grid__extend:before {
	content: "";
	height: .875rem;
	width: 100%;
	position: absolute;
	top: -.4375rem;
	left: 0;
	background: #fff;
}

.product-grid__description {
	font-size: .875em;
	margin-top: .4375rem;
	margin-bottom: 0;
}

.product-grid__btn {
	display: inline-block;
	font-size: .875em;
	color: #777;
	background: #eee;
	padding: .5em .625em;
	margin-top: .875rem;
	margin-right: .625rem;
	cursor: pointer;
	border-radius: 4px;
}

.product-grid__btn i.fa {
	margin-right: .3125rem;
}

.product-grid__add-to-cart {
	color: #fff;
	background: #E91E63;
}

.product-grid__add-to-cart:hover {
	background: #ee4c83;
}

.product-grid__view {
	color: #777;
	background: #eee;
}

.product-grid__view:hover {
	background: white;
}



/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 10%;
  margin: 10% 10%;
  border: 3px solid #f1f1f1;
  z-index: 99;
}

/* Add styles to the form container */
.form-container {
  /* max-width: 300px; */
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}